@tailwind base;

html,
body {
  font-family: 'Poppins', sans-serif;
}
a {
  @apply text-blue-700;
}

a:active {
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

::selection {
  background: #ba00ff; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #ba00ff; /* Gecko Browsers */
  color: white;
}

#Hero--cmpt {
  background: #ba00ff;
  background: url(../assets/images/bg--hero.jpg)
    no-repeat center center fixed;
  background-size: cover;
}

#Hero--cmpt h1,
#AboutWhats--cmpt {
  word-spacing: 100vw;
}

#PortfolioHero--cmpt {
  background: #ba00ff;
  background-size: cover !important;
}

#About--cmpt {
  background: #ba00ff;
  background: url(../assets/images/bg--about.jpg)
    no-repeat center center;
}

#Portfolio--cmpt {
  background: #fff;
  background: url(../assets/images/bg--portfolio.jpg)
    no-repeat top left;
  background-size: cover;
}

#OurSkills--cmpt {
  background: #fff;
  background: url(../assets/images/bg--help.jpg)
    no-repeat -70px 10px;
}

#Help--cmpt {
  background: #ba00ff;
  background: url(../assets/images/bg--skills.jpg)
    no-repeat center center;
  background-size: cover;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0, 0, 0, 0.2),
    0 5px 15px rgba(0, 0, 0, 0.08);
}

.text-shadow-none {
  text-shadow: none;
}
